.Input {
  background-color: #242e44;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  color: white;
}

.CloseButton {
  margin: 5px;
  color: rgba(255, 255, 255, 0.4);
}

.CloseButton:hover {
  color: rgba(255, 255, 255, 1);
}

.Label {
    color: white;
    margin-right: 5px;
}