.Toggler {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
}

.DropdownMenu {
  background-color: #1a2130;
  color: #999999;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  width: 150px;
}

.DropdownItem {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #1a2130;
  color: #999999;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.DropdownItem:hover {
  color: white;
}

.DropdownItem:focus {
  outline: none;
}

.DropdownItemSelected {
  background-color: #42547a;
  color: white;
}

.Link {
  color: #999999;
}

.Link:hover {
  color: white;
  text-decoration: none;
}

.LinkContainer {
  width: 100%;
  text-align: center;
}