.Icon {
  width: 100%;
  border-radius: 5%;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.CloseButton {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  top: 10%;
  right: 13%;
}

.CloseButton:hover {
  color: rgba(255, 255, 255, 1);
}
