.Button {
  background-color: #242e44;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  color: white;
  margin: 5px;
  padding: 8px 15px 8px 15px;
  opacity: 0.5;
  cursor: pointer;
}

.Button:hover {
    background-color: #1a2131;
}

.Button:focus {
  outline: none;
}

.Active {
 opacity: 1;
}