.Title {
  display: inline-block;
  width: 60%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.Description {
  color: #999999;
  margin: 0;
  overflow-wrap: break-word;
}

.ListItem {
  background-color: #1a2130;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.ListItem:nth-child(n + 2) {
  margin-top: -1px;
}

.ListItemUncollapsed {
  background-color: #242e44;
}

.Button {
  float: right;
  margin: 5px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.Button:hover {
  color: rgba(255, 255, 255, 1);
}
